:root {
    --primary-color: #FE724C;
    --primary-hover-color: #df5e3b;
    --text-color: #000000;
    --text-secondary-color: #9EA1B1;
    --white-color: #FFFFFF;
    --separator-color: #D4D6E0; 
}
body {
    font-family: "Open Sans", serif;
    font-style: normal;
}
